.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #61dafb;
  padding: 20px 30px;
}

.product-item {
  padding: 20px;
}
.green-button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.hover-button {
  background-color: #0074D9; /* Blue */
  color: white;
  padding: 10px 20px;
  border: 2px solid #0074D9;
  transition: background-color 0.3s ease;
}
.hover-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

